body{
    background-color: white;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    

}
div.p-head{
    /* justify-self: center; */
    justify-content: center;
    
    width: 100%;
    height: fit-content;
    display: flex;
}
div.head {
    
    max-height:fit-content ;
    display: flex;
    gap: 350px;
    width: 60%;
}
div.head h1 {
    font-size: 2cm;
    color: #14A800;
    font-weight: lighter;
    min-width: 200px;
}
div.head p {
    font-size: 0.5cm;
}
img.globe{
    float: right;
    justify-items: baseline;
}
div.head button{
    /* size: 2cm; */
    background-color: #14A800;
    border-radius: 40px;
    height: 1cm;
    width: 3cm;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: bold;
}
div.h-child{
    width: 200px;
}
div.p-job{
           justify-content: center;
           width: 100%;
           height: fit-content;
           display: flex;
}
div.job{
    display: flex;
    gap: 100px;
    width: 60%;
    height: fit-content;
   
    
}
.pl hr{
       width: 100%;  
}
span{
    font-family: sans-serif;
    min-width: 400px;
}
div.job p {
    font-size: smaller;
    min-width: 400px;
}
div.job h5{
    font-family: sans-serif;
    min-width: 400px;
}
.j-b{
    background-color: #14A800;
    border-radius: 40px;
    color: aliceblue;
    border: #14A800 solid 3px;
    font-weight:400;
    width: 120px;
}
.j-b :hover{
    background-color: #108A00;
}
.j-b2{
    border: #108A00 1px solid;
    border-radius: 40px;
    background-color:white;
    color: #14A800;
    width: 120px;


}
.j-b2:hover{
    background-color: rgb(220, 220, 220);

}
.p-g{
    display: flex;
    width: 100%;
    justify-content: center;
   
}
.p-hea{
    justify-content: center;
    width: 100%;
    display: flex;
}
.g{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;

}
.g :hover{
    background-color: #ebf0eb;
}
.hea{
    width: 85%;
}
.hea h1{
    font-size: 1cm;
    font-family: sans-serif;
}
.hea p{
    font-family: sans-serif;

}
.hea p a{
    color:#108A00;
}
.item{
    width: 250px;
    height: 100px;
    background-color: #F7FAF7;
    border-radius: 10px;
    border: 2px #F7FAF7;
    box-shadow:rgba(0,0,0,0.5) ;
}
.star{
        color: #14A800;
}
.item p{
    font-size: smaller;
}
.p-he{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.he{
    width: 80%;
    display: flex;
}
.he h1 {
    font-size: 1cm;
    font-family: sans-serif;
}
.p-f{
    display: flex;
    width: 100%;
    justify-content: center;
}
.f{
    display: flex;
    gap: 50px;
    width: 80%;
}
.items{
    text-align: start;
    border-radius: 10px;
    background-color: #13544E;
    min-width: 400px;
    
}
.o1{
    font-size: 0.5cm;
    font-weight: bold;
    color: white;

}
.o2{
    font-family: sans-serif;
    font-size: smaller;
    color: gainsboro;
}
input :hover{
    border: none;
}
.items h1{
    color: white;
}
.itemso{
    text-align: start;
    border-radius:10px ;
    background-color: #BC511B;
    min-width: 400px;
}
ul{
    background-color: white;
    list-style-type: none;
   
}
li{
    float: left;
  
    
}
.kk{
    justify-content: left;
    display: flex;
    gap: 10px;
    width: 40%;
}
.kk2{
    display:flex ;
    width: 60%;
    justify-content: flex-end;
    margin-top:10px ;
    margin-right: 10px;
}
.kk2-child-b{
    border: 1px solid;
    border-radius: 20px;
    height: 30px;
}
.kk2-child{
            width: 250px;
                border: #108A00;
}
#b5 button{
     background-color:#14A800;
     border-radius: 20px;
     width: 70px;
     height: 30px;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 1px;
     border: none;
     color: white;

}
.kk2-child input{
                 border-radius: 10px;
                 text-align: left;
                 width: 120px;
                 text-align: left;
                 border: none;
                 margin-top: 5px;
}

.kk2-child button{
                  border-radius: 20px;
                  background-color: #14A800;
                  color: #ebf0eb;
                  font-weight: bold;
                  height: 25px;
                  width: 70px;
}
.nav{
    display: flex;
    gap:16px;
    font-size: smaller;
   width: 100%;
}
.nav a{
    color: black;
    text-decoration: none;
}
.nav-child{
    margin-top: 12px;
}
.nav-child a :hover{
    color: #108A00;
}
.nav-child1{
    color: #108A00;
    font-size: smaller;
}
.nav-child1 a {
    text-decoration: none;
    color: black;
}
.nav-child1 a :hover{
    color: #108A00;
}
*a{
    text-decoration: none;
}
.itemso h1{
    color: white;
}
li {
        float: right;
}
@media (max-width:900px){
   .nav{
    width: 100%;
    height: auto;
    position: relative;
   }
  div.p head{
    margin-left: 0px ;
  }
  @media (max-width: 400px) {
     .nav{
        text-align: center;
        display: inline-flex;
     }

  }
}
@media (max-width:566px) {
       div.kk2{
        display: none;
       } 
}
@media (max-width:1753px) {
    div.head h1{
        font-size: 1cm;
        font-weight: bold;
    }
    
}
@media (max-width:1165px) {
    div.head{
        gap: 100px;
    }
}
@media (max-width:1015) {
    div.job{
        gap: 50px;
        display: flex;
        flex-direction: row;
    }
}
/* div{
    background-color: ;
} */
div.end{
    justify-content: center;
    width: 100%;
    justify-items: center;
    display: flex;
    /* background-color: rgb(155, 44, 44); */
    height: 800px;
    
}
div.endo{
    justify-items: center;
    width: 80%;
    background-color: #001E00;
    border-radius: 2px;
    border: 2px solid;
}
div.end-1{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px ;
    width: 100%;
    /* background-color:#001E00; */
    /* border:#001E00 solid; */
    /* border-radius: 10px; */
    justify-content: center;
}
.e2{
    font-size: 16px;
    margin-top: 10%;
    color: white;
    letter-spacing: 2px;
}
.ee3{
    display: flex;
    justify-content: center;
    
}

.e3{
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns:600px 300px ;
}
.ps{
    color: white;
}
.e3 a{
          color: #ffffffff;
}
.e3 a :hover{
    color: #ebf0eb;
}
.ew p{
    color: #ffff;
}